/* Style*/
/* CSS reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    height: 180px;
    background-color: rgb(67,130,205);
    background-image: url("../img/pattern.png");
}    
.logo {
    height: 250px;
    width: 250px;
    margin-left: 15px;
}
/* MAIN */
h1 {
    font-size: 60px;
}
.citazione {
    color: lightgray;
    font-size: 24px;
}
.blue-text {
    color: rgb(32,169,229)
}
.data {
    color: lightgray;
    font-size: 18px;
}
/* SECTION 1 */
.tim {
    width: 49%;
    height: 500px;
    background-size: contain;
}
.description {
    font-size: 15px;
}
/* SECTION 2 */