/* Style */
/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Layout pagina */
#container{
    margin: 0 10px;
}
/* HEADER */
header {
    height: 100px;
    background-color: rgb(67,130,205);
    background-image: url("../img/pattern.png");
    background-size: 20%;
}    
.logo {
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}

/* MAIN */
main h1 {
    font-size: 42px;
}
.author {
    color: rgb(140, 140, 140);
    font-size: 20px;
}
.blue-text {
    color: rgb(32,169,229)
}
.date {
    color: rgb(140, 140, 140);
    font-size: 12px;
}
main {
    margin: 20px 0;
}
.tim {
    margin: 20px 0 0 0;
}
.tim img{
    max-width: 100%;
}
.description {
    font-size: 12px;
}
.list {
    margin: 20px 0;
}
li {
    margin-left: 20px;
}
.paragrafo {
    margin: 20px 0;
}

/* TABELLA */
table {
    margin: 50px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
thead {
    background-color: rgb(32,169,229);
    color: white;
}
.bg-blue {
    background-color: rgb(127, 246, 255);
}
.length {
    width: 20%;
}

/* FOOTER */
footer h2 {
    color: gray;
    font-size: 26px;
    font-weight: bold;
}
.image h3{
    color: white;
}
.image {
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#image-monitor {
    background-image: url('../img/monitor.jpg');
}
#image-graph {
    background-image: url('../img/graph.jpg');
}