/* Style*/
body {
    margin: 0%;
}

/* HEADER */
header {
    height: 180px;
    background-color: rgb(67,130,205);
    background-image: url("../img/pattern.png");
}    
.logo {
    height: 250px;
    width: 250px;
    margin-left: 10%;
}
/* MAIN */
#container {
    width: 80%;
    margin: auto;
}
h1 {
    font-size: 60px;
    margin: 0;
}
.citazione {
    color: rgb(140, 140, 140);
    font-size: 24px;
    margin: 0;
}
.blue-text {
    color: rgb(32,169,229)
}
.data {
    color: rgb(140, 140, 140);
    font-size: 18px;
    margin: 0;
}
/* SECTION 1 */
.tim {
    width: 49%;
    height: 30em;
}
.description {
    font-size: 15px;
    margin: 0;
}
/* SECTION 2 */
ul {
    margin: -20px;
}
/* TABELLA */
table {
    margin: 50px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
thead {
    background-color: rgb(32,169,229);
    color: white;
}
.bg-blue {
    background-color: rgb(127, 246, 255);
}
.length {
    width: 20%;
}
/* FOOTER */
h3 {
    color: gray;
}
.box {
    height: 250px;
    width: 250px;
    margin: 10px;
    background-size: contain;
    color: white;
}
.uno {
    background-image: url(../img/monitor.jpg)
}
.due{
    background-image: url(../img/graph.jpg);
}
h2 {
    padding: 10px 0 0 10px;
}